<title>My application</title>
  <h1>Hello, World!</h1>
    This app will give a new sorted array according to your limitations <br>
    In the first form, enter the integer elements of array seperated by a newline character <br>
    In the second form, enter the max lentgh for the new array <br>
    In the third form, enter the minimum value for the new array <br>
    In the fourth form, enter the maximum value for the new array <br>
    Result is {{result}} 
    

  <form action="compute" method="post"> <br>
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
